.skillBlock {
    background-color: rgba(45, 44, 44, 0.4);
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square {
    transform: rotate(45deg);
    transition: transform .3s ease;
}

.square:hover {
    transform: rotate(0deg);
}


