.exampleBlock {
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapRelative {
    position: relative;
    text-align: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.wrapRelative:hover img {
    transform: scale(1.1);
}

.wrapRelative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease-in-out;
}

.wrapRelative button {
    position: absolute;
    top: 45%;
    right: 42%;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgba(110, 104, 104, 0.75);
    color: white;
    transition: background-color .3s ease;
}

.wrapRelative button:hover {
    background-color: rgba(94, 87, 87, 0.99);
}

.wrapText p {
    font-size: 28px;
}

.wrapText {
    text-align: center;
    padding: 10px;
}