.navBlock {
  /*max-width: 300px;*/
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
  a {
    //color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    position: relative;
    color: #f3ebef;
    cursor: pointer;
    //font-size: 20px;
    font-size: calc(16px + 6 * (100vw / 1440));

    &::after {
      display: block;
      border-radius: 7px 2px;
      position: absolute;
      left: -5px;
      bottom: -5px;
      width: 110%;
      height: 2px;
      background-color: rgb(180, 185, 184);
      content: "";
      transition: height 0.3s;
      z-index: -1;

    }
    &:hover {
      color: #1c1e1e;
    }
    &:hover::after {
      height: 125%;
    }

  }

  .active {
    color: #1c1e1e;

    &::after {
      height: 125%;
    }
  }

  @media screen and (max-width: 550px){
    display: none;
  }
}

