.btn {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgba(110, 104, 104, 0.75);
    color: white;
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: rgba(94, 87, 87, 0.99);
}