@import "../../../common/mixins/mixin";


.greetBlock {
  color: #fff;
  width: 50%;

  @media screen and (max-width: 950px) {
    width: 100%;
    text-align: center;
  }

  .introSpan {
    margin-bottom: 15px;
    white-space: nowrap;
    //font-size: 36px;
    font-size: calc(24px + 18 * (100vw / 1440));
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    font-style: italic;
    font-family: 'Marck Script', cursive;

    &:after {
      @include styleAfter(100%, 2px, #39524a, 100%, 50%);
    }
  }

  .title {
    padding: 10px 0 10px;
    color: #bdc9d3;
    font-size: calc(34px + 16 * (100vw / 1440));
    white-space: nowrap;
    font-family: 'Indie Flower', cursive;

    @media screen and (max-width: 450px) {
      font-size: calc(32px + 16 * (100vw / 1440));
    }

    span {
      display: inline-block;
    }
  }

  .subTitle>div>span {
    margin-top: 15px;
    //font-size: 24px;
    font-size: calc(18px + 16 * (100vw / 1440));
    //width: 300px;
    letter-spacing: 1.2px;
    font-family: 'Marck Script', cursive;

    @media screen and (max-width: 450px) {
      font-size: calc(16px + 6 * (100vw / 1440));
    }

  }
}













