.container {
    position: relative;
    max-width: 450px;
    min-height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #38383b;
    box-shadow: 2px 3px 6px #cbced1, -7px -5px 10px #6c6767;

    .brand_logo {
        height: 100px;
        width: 100px;
        background: url("../../common/icons/iconForMyWorksExample/react.svg") center / cover no-repeat;
        background-size: 90%;
        margin: auto;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    }

    .brand_title {
        margin-top: 10px;
        font-weight: 900;
        font-size: 1.8rem;
        color: #1DA1F2;
        letter-spacing: 1px;
    }

    .inputs {
        text-align: left;
        margin-top: 30px;
    }
}



label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 14px;
    margin-top: 14px;
    color: #9a9494;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

.input::placeholder {
    color: gray;
}

.input {
    background: #ecf0f3;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.button {
    //border-radius: 20px;
}




