.container {
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.name {

}

.iconsBlock {
    width: 100%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    gap: 5px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    padding: 15px;
}

.iconBlock {
    display: inline-block;
}

.copyRight {
    margin-bottom: 20px;
}