.container {
  position: relative;
  max-width: 550px;
  min-height: 400px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #38383b;
  box-shadow: 2px 3px 6px #cbced1, -7px -5px 10px #6c6767;

  @media screen and (max-width: 572px) {
    max-width: 460px;
  }

  @media screen and (max-width: 500px) {
    max-width: 430px;
  }

  @media screen and (max-width: 450px) {
    max-width: 370px;
  }

  //.brand_logo {
  //  height: 100px;
  //  width: 100px;
  //  //background: url("../../common/icons/iconForMyWorksExample/react.svg") center / cover no-repeat;
  //  background-size: 90%;
  //  margin: auto;
  //  border-radius: 50%;
  //  box-sizing: border-box;
  //  //box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  //}

  .brand_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
  }

  .inputs {
    text-align: left;
    margin-top: 30px;

    label, input {
      display: block;
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
    }

    label {
      margin-bottom: 14px;
      margin-top: 14px;
      color: #9a9494;
    }

    label:nth-of-type(2) {
      margin-top: 12px;
    }

    .input::placeholder {
      color: gray;
    }

    .input {
      background: #ecf0f3;
      padding-left: 20px;
      height: 50px;
      font-size: 14px;
      border-radius: 50px;
      box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
  }
}


.button {
  display: flex;
    margin-left: auto;
    margin-right: auto;
}

// pulse

.pulse {
  position: relative; // Нужно будет в будущем, для позиционирования эффекта
  text-align: center;
  padding: 10px; // Отступ можете подобрать свой.
  border-radius: 50%; // Делаем икноку круглой
  background: #e3e6f3;
  width: 80px;
  height: 80px;
  margin: 0 auto;

  img {
    width: 90%;
    height: 100%;
  }

  &::before {
    content: ''; // Нужно для отображения псевдокласса
    position: absolute;
    border: 2px solid #9b9eab; // Ширину обводки можете выбрать сами
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite; // Указываем название анимации, время, тип, и нужно ли её повторять
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    border: 2px solid #dde1f1;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
  }

  &::after {
    animation-delay: 1.25s;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
}




