.App {
    background-color: #000000;
    //background-image: url("./common/img/Body/BCGBody.jpg");
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    //background-position: center;
    color: #fff;

    &:nth-child(2n) {
        background-color: #1f1f20;
    }

    [aria-disabled='true'] {
        opacity: 0.3;
        display: none;
    }

}
