.aboutMeBlock {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 200px;
    background-color: #1f1f20;

    .container {
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        margin: 20px auto;
    }
}


